@import "main.css";

body{
    background-image: url("/img/inazuma.jpg");
    background-size: cover;
    background-position: center;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

.column-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 85%;
}

.column-filt{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    background-color: rgba(var(--color_head), .3);
    border-radius: 10px;
}

.filt-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 80%;
    background-color: rgba(var(--color_head), .3);
    border-radius: 10px;
}

.filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 50%;
}

.content-text{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    width: 100%;
    height: 15%;
}

.content-text p{
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: rgb(var(--blanco_letra));
}

.line{
    width: 90%;
    height: 3px;
    background-color: rgb(var(--blanco_letra));
    border-radius: 3px;
}

.elementos{
    display: flex;
    flex-direction: column;
    gap: .4em;
    align-items: center;
    width: 100%;
    height: 85%;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: rgba(var(--color_head), .45);
    cursor: pointer;
    border-radius: 10px;
    transition: .5s;
}

.item:hover{
    background-color: rgba(var(--color_head), .3);
}

.item p{
    margin: 0;
    padding: 0;
    font-size: 90%;
    color: rgb(var(--blanco_letra));   
}

.column-catalogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
    background-color: rgba(var(--color_head), .3);
    border-radius: 10px;
}

