@import "main.css";

body{
    background-image: url("/img/liyue2.jpg");
    background-size: cover;
    background-position: center;
}

.content{
    display: flex;
    width: 100%;
    height: 90%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-content{
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 75%;
    height: 90%;
}

.info-column1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    background-color: rgba(var(--color_head), .3);
    border-radius: 10px;
}

.info-column2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    width: 20%;
    height: 100%;
}

.voto-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(var(--color_head), .3);
    border-radius: 10px;
    width: 100%;
    height: 35%;
}

.voto-cuadro{
    width: 80%;
    height: 75%;
    background-color: rgba(var(--color_head), .3);
    border-radius: 10px;
}

.weapon-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: rgba(var(--color_head), .3);
    border-radius: 10px;
    width: 100%;
    height: 65%;
}

.item{
    width: 80%;
    height: 43%;
    background-color: rgba(var(--color_head), .3);
    border-radius: 10px;
}

.row-column{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 90%;
    height: 90%;
}

.back-row{
    width: 100%;
    height: 4%;
}

.info-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
    height: 64%;
}

.coment-row{
    width: 100%;
    height: 32%;
    background-color: rgba(var(--color_head), .3);
    border-radius: 10px;
}

.pj-row{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    background-color: rgba(var(--color_head), .3);
    border-radius: 10px;
}

.pj-pyro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 90%;
    border-radius: 10px;
    background-color: rgb(var(--cryo),.6);
}

.pj-pyro img{
    width: 180%;
}

.info-pj-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.pj-info-row{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    background-color: rgba(var(--color_head), .3);
    border-radius: 10px;
}

.text-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5%;
}

.text-content p{
    margin: 0;
    padding: 0;
    font-size: 90%;
    color: rgb(var(--blanco_letra));
}

.line{
    width: 90%;
    height: 3px;
    background-color: rgb(var(--blanco_letra));
}

.pj-info{
    width: 90%;
    height: 80%;
}

.btn-more{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 8%;
    background-color: rgba(var(--color_gris_claro), .5);
    cursor: pointer;
    border-radius: 10px;
    transition: .5s;
}

.btn-more:hover{
    transform: translateY(-3px);
    background-color: rgba(var(--color_gris_claro), .8);
}

.btn-more p{
    margin: 0;
    padding: 0;
    font-size: 90%;
    color: var(--blanco_letra);
}

.btn-back{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%;
    background-color: rgba(var(--color_head), .6);
    cursor: pointer;
    border-radius: 10px;
    transition: .5s;
}

.btn-back:hover{
    transform: translateY(-3px);
    background-color: rgba(var(--color_head), .2);
}

.back-row p{
    margin: 0;
    padding: 0;
    font-size: 90%;
    color: rgb(var(--blanco_letra));
}
