@import "main.css";

body{
    background-image: url("/img/liyue2.jpg");
    background-size: cover;
    background-position: center;
}   

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 93%;
}

.login-content{
    width: 30%;
    height: 80%;
    background: url("/img/3.jpg");
    box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-position: center;
    border-radius: 50px;
}

.perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35%;
}

.circle{
    border: 6px solid rgba(var(--blanco_letra), .5);
    border-radius: 100%;
}

.bx-user{
    font-size: 100px;
    color: rgba(var(--blanco_letra), .5);
}

.formu-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8%;
    width: 100%;
    height: 40%;
}

.input-row{
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
}

.input-row p{
    margin: 0;
    color: rgba(var(--blanco_letra));
}

.input-row input{
    display: flex;
    align-items: center;
    height: 1.6em;
    border-radius: 10px;
    border: none;
}

.btn-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
    width: 100%;
    height: 25%;
}

.iniciar p{
    margin: 0;
    color: rgba(var(--blanco_letra), .6);
    cursor: pointer;
    transition: .3s;
}

.iniciar p:hover{
    color: rgba(var(--blanco_letra), .9);
}

.btn-login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 30%;
    background-color: rgba(var(--color_gris_claro), .45);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 10px;
    transition: .4s;
}

.btn-login:hover{
    transform: translateY(-5px);
    background-color: rgba(var(--color_gris_claro), .75);
}

.btn-login p{
    color: rgba(var(--blanco_letra));
    margin: 0;
}
